#file: noinspection SpellCheckingInspection

name: Build

on:
  push:
    paths-ignore:
      - '**/*.md'
      - '**/*.txt'
      - '**/update.json'
  pull_request:
    paths-ignore:
      - '**/*.md'
      - '**/*.txt'
      - '**/update.json'
  workflow_dispatch:

permissions:
  pull-requests: write
  issues: write

jobs:
  build:
    strategy:
      matrix:
        java: [ 21 ]
        os: [ ubuntu-latest, windows-latest ]
    name: "Build (Java ${{ matrix.java }} on ${{ matrix.os }})"
    runs-on: ${{ matrix.os }}
    steps:
      - name: "Checkout repository"
        uses: actions/checkout@v4

      - name: "Cache Gradle dependencies"
        uses: actions/cache@v4
        id: cache-gradle-dependencies
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: "${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}"
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: "Validate gradle wrapper"
        uses: gradle/actions/wrapper-validation@v5

      - name: "Setup jdk ${{ matrix.java }}"
        uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.java }}
          distribution: 'temurin'

      - name: "Make gradle wrapper executable"
        if: ${{ runner.os != 'Windows' }}
        run: chmod +x ./gradlew

      - name: "Run gradle task: fabric:datagen"
        run: ./gradlew :fabric:runDatagen

      - name: "Build project"
        run: ./gradlew build

      - name: "Capture build artifacts"
        if: ${{ runner.os == 'Windows' }}
        uses: actions/upload-artifact@v5
        with:
          name: Artifacts-${{ runner.os }}
          path: |
            neoforge/build/libs/
            fabric/build/libs/